<div class="container">
  <div class="columns is-centered">

    <div class="column is-4">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image chief"></div>
          <mat-card-title>Шевченко Костянтин Леонідович</mat-card-title>
          <mat-card-subtitle>Доцент</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Доктор технічних наук</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image student"></div>
          <mat-card-title>Гапон Марина Василівна</mat-card-title>
          <mat-card-subtitle>Студентка групи ВА-61м</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Проходить програму підготовки магістра спеціальоності 152 Метрологія та інформаційно-вимірювальна техніка по с пеціалізації  “Інформаційні вимірювальні технології та системи”</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="column is-8">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image aed"></div>
          <mat-card-title>Кафедра автоматизації експериментальних досліджень (АЕД)</mat-card-title>
          <mat-card-subtitle>НТУУ "КПІ ім. Ігоря Сікорського"</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Кафедра автоматизації експериментальних досліджень готує ІТ-спеціалістів з програмування, комп'ютерної техніки та інформаційних вимірювальних технологій для розробки і експлуатації комп'ютерних систем вимірювань, наукових досліджень і комплексних випробувань складних об'єктів. Фахівці кафедри займаються комп'ютеризацією наукових та технічних експериментів, комп'ютерними системами випробувань і досліджень зразків нової техніки та нових технологій, комп'ютерним контролем та діагностуванням складних технічних систем, комп'ютерними системами спостереження, прогнозування та моделювання технічних, біологічних і природних об'єктів.</p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
