<div class="container has-text-centered">
  <div class="columns is-centered">

    <mat-card class="column is-6">
      <img src="../../../assets/audio.gif" class="center"/>
    </mat-card>

    <mat-card class="column is-5 is-offset-1">
      <mat-card-title>Система збору акустичної інформації</mat-card-title>
      <mat-card-subtitle>На основі Web-технологій</mat-card-subtitle>
      <mat-card-content>Автоматизація відображення акустичної інформації</mat-card-content>

      <mat-card-content class="has-text-justified">
        Актуальною стає задача автоматизації відображення даних в системах збору акустичної інформації використовуючи веб-технології. Переваги використання веб-технологій полягають в централізованому зберіганні інформації, що збирається, захищених каналах передачі даних, можливості використання єдиної інформаційної моделі предметної області, міжплатформенність веб-додатків.
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="/audio-recorder" class="is-half">
          <mat-icon>mic</mat-icon>
          Запис
        </button>

        <button mat-raised-button color="primary" routerLink="/audio-player" class="is-half">
          <mat-icon>play_arrow</mat-icon>
          Відтворення
        </button>
      </mat-card-actions>

    </mat-card>

  </div>
</div>
